config/spotify_config.php
config/connections/
config/local_env.php
config/discord_sso_secrets.php
_sessions/
*.log
.env
Thumbs.db
.DS_Store
input.txt
output_errors.txt
output_partial.txt
/uploads/profiles/upload_user_*
